body{
    background-color:  rgb(255, 248, 211);
    margin-bottom: 0;
    /* clear: both; */
}

.logHead{
    background-color: #999966;
    border: solid black 2px;
    border-radius:0.5em;
    width: auto;
    padding: 10;
    margin-bottom: 30;
    font-size: 25;
}
.logHead >a{
    font-size: 25;
}
.loginClass{
    background-color: #999966;
    border: solid black 2px;
    border-radius:0.5em;
    /* float: left; */
    width: 45%;
    height: 400;
}

.create{
    background-color: #999966;
    border: solid black 2px;
    border-radius:0.5em;
    /* float: right; */
    width: 45%;
    height: 400;
}

a{
    text-decoration: none;
    color: #000000;
    text-decoration: underline;

}
.create > span, .loginClass > span{
    margin: 5;
}

.create, .loginClass, .logHead{
    margin: 5;
}


.notgood{
    border: 1px solid red;
    border-radius:0.5em;
    padding: 5;
    margin-bottom: 50;
}

.badUser{
    border: 1px solid red;
    border-radius:0.5em;
    padding: 5;
    margin-bottom: 50;
}

#logthings{
    min-height: 500;
    display: flex;
    justify-content: space-between; 
}