body{
    background-color:  rgb(255, 248, 211);
}

.logHead{
    background-color: #999966;
    border: solid black 2px;
    border-radius:0.5em;
    width: auto;
    padding: 10;
    margin-bottom: 30;
    font-size: 25;
}
.loginClass{
    background-color: #999966;
    border: solid black 2px;
    border-radius:0.5em;
    float: left;
    width: 45%;
    height: 45%;
}

.create{
    background-color: #999966;
    border: solid black 2px;
    border-radius:0.5em;
    float: right;
    width: 45%;
    height: 45%;
}

a{
    text-decoration: none;
    color: #000000;
    text-decoration: underline;

}
div{

    padding: 5;
}


.notgood{
    border: 1px solid red;
    border-radius:0.5em;
    padding: 5;
    margin-bottom: 50;
}

.badUser{
    border: 1px solid red;
    border-radius:0.5em;
    padding: 5;
    margin-bottom: 50;
}