

input {
    margin: 5 5;
    height: 40px;
    font-size:14px;
    border-radius:0.5em;
  }
  
/* #name{
    position: relative;
    z-index: -2;
    left: 27;
} */

/* #comments{
    height: 100;
    width: 300;
} */
#contactDiv{
    padding: 20;
}

table{
    margin: 15;
    border-collapse: collapse;

}

table, th, td {
    border: 3px solid black;
    font-size: 20px;
}

th{
    background-color: #aaaaaa;
}

td{
    font-size: 20px;
    padding: 10, 13;
}

.good{
    border: 1px solid green;
    border-radius:0.5em;
    padding: 5;
    margin: 5;
}
.bad{
    border: 1px solid red;
    border-radius:0.5em;
    padding: 5;
    margin: 5;
}
table{
    width: 98%;
}
/* #reviewCol{
 width: 80%;   
} */
.dateCol{
    font-size: 12;
}

.reviewCol {
    font-size: 16;
}
.nameCol{
    font-size: 14;
}
.delete{
    text-align:center;
}

.close{
    font-weight: bold;
    padding-left: 15;
}
.close:hover{
    text-decoration: underline;
    cursor: pointer;
}
